body {
  background: #9a4d9f;
  box-sizing: border-box;
  margin: 0px;
  max-width: 1024px;
  font-family: Montserrat;
} .body {
  max-width: 1024px;
  overflow-x: hidden;
} .top-bar {
  display: flex;
  justify-content: space-between;
} .top-bar a {
  display: none;
  grid-area: button;
} header {
  display:flex;
  justify-content: flex-start;
  grid-area: logo;
} .logo {
  background-image: url(../assets/ticket-logo.png);
  height: 36px;
  width: 35px;
  margin: 18px 25px 0px 40px;
  background-repeat: no-repeat;
  background-size: contain;
} h1 {
  width: 124px;
  height: 28px;
  color: #9a4d9f;
  font-size: 20px;
  font-weight: 700;
  line-height: 12px;
  color: #ffffff;
  font-weight: 400;
  padding: 18px 0px 0px 0px;
  margin-bottom: 0px;
} span {
  color: #9a4d9f;
} nav {
  grid-area: nav;
} ul {
  display:flex;
  justify-content:flex-end;
  list-style: none;
  color: #ffffff;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0px;
} li {
  padding: 15px;
  font-weight: 700;
  text-align: center;
} .create-event {
  border: 2px solid white;
  border-radius: 5%;
  margin-right: 15px;
  margin-left: 20px;
  padding: 13px 10px;
} .container {
    display: flex;
} .fish-img {
  position: relative;
  background-image: url(../assets/fish-img.png);
  background-size: contain;
  display: inline;
  height: 400px;
  width: 50%;
  background-repeat: no-repeat;
  z-index: -1;
  margin: 0px;
  bottom: 60px
} aside {
  float: right;
  margin: 0 5% 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42vw;
  height: 20vw;
  flex-shrink: -5;
} aside * {
  text-align: center;
  transform:scale(.9);
} .calendar {
  height: 80px;
  width: 80px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  text-align: center;
  margin: 25px 0px 0px 0px;
} .day {
  font-size: 39px;
  margin: 4px 0px 0px 0px;
  color: white;
} .month {
  font-size: 16px;
  color: white;
  margin: 0px;
} .promo-name {
  color: #080a21;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 33px 0px 10px 0px;
} .slogan {
  font-size: 24px;
  color: #fefcfe;
  font-weight: 300;
  margin: 5px 0px 5px 0px;
} .local-name {
  display: flex;
  justify-content: center;
  margin: 20px 0px 25px 0px;
  width: 100%;
} .small-map-marker {
  background-image: url('../assets/map-marker.png');
  width: 19px;
  height: 23px;
  background-size: contain;
} .location-name {
  color: #080925;
  font-size: 16px;
  font-weight: 700;
  margin: 2px 10px;
} .ticket-btn {
  width: 220px;
  height: 43px;
  border-radius: 50px;
  background-color: #080925;
  font-size: 17px;
  font-weight: 700;
  line-height: 9px;
  color: white;
} main {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
} .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #080925;
} #about .img {
  background-image: url(../assets/shark.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 14%;
} #date .img {
  background-image: url(../assets/cal.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 0;
  width: 100%;
  padding-top: 14%;
} #location .img {
  background-image: url(../assets/map-marker.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 0;
  width: 100%;
  padding-top: 14%;
} .heading {
  font-weight: 700;
  margin-bottom: 0px;
} .content {
  padding: 0px 15px;
} .map-container {
  display: flex;
  justify-content: center;
} .map {
  background-image: url(../assets/map.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 0;
  height: 0;
  padding-left: 100%;
  padding-right: 100%;
  padding-top: 50%;
  filter: brightness(79%);
  overflow: hidden;
}  footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #080925;
  font-family: lato;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  color: white;
  padding: 0 5%;
} .social {
  display: flex;
  justify-content: space-around;
} .social img {
  margin: 40%;
} .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  body {
    display: flex;
    background-color: #080925;
    width: 100%;
    margin: 0 auto;
  } .body {
    background-color: #9a4d9f;
    z-index: -2;
  } li {
    font-size: 10.24px;
  } .fish-img {
    position: relative;
    width: 542px;
  } aside {
    width: 430px;
    height: 204px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .fish-img {
    width: 100%;
    height:510px;
  } aside {
    float: none;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    bottom: 100%;
  } .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } .calendar {
    height: 135px;
    min-width: 135px;
    margin: 0;
  } .day {
    font-size: 65px;
  } .month {
    font-size: 25px;
  } .local-name {
    justify-content: flex-start;
  } .ticket-btn {
    padding: 0 40px;
  } main {
    flex-direction: column;
    margin: 10% 0;
  } .main {
    margin: 0 10%;
  } .main .img {
    transform: scale(.7);
  }
}
@media screen and (max-width: 678px) {
  .fish-img {
    width: 125%;
    left: -15%;
    height: 510px;
  } .top-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "button logo logo ."
      "ul . . .";
  } .top-bar a {
    display: block;
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    margin: 10%;
    z-index: 2;
  } header {
    justify-content: center;
  } .logo {
    height: 35px;
    width: 35px;
    margin: 6%;
  } h1 {
    font-weight: 700;
  } .showMenu {
    width: 80%;
  } nav {
    display: block;
    position: absolute;
    width: 0;
    transition: width .5s;
  } .showMenu ul {
    opacity: 1;
  } ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 15% 0 15% 0;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10%;
    opacity: 0;
    transition: opacity .5s;

  }
}
@media screen and (max-width: 360px) {
  .logo {
    display: none;
  }
}
